<div class="col-md-4">
  <div class="card  bg-info mb-3" style="max-width: 18rem;">
    <div class="card-header text-center">
      <i class="bi bi-calendar"></i>    {{match.arDate()}}  </div>
    <div class="card-body p-1 bg-bleu1">
      
      <div class="d-flex flex-column">
        <div class="d-flex flex-row justify-content-center">
          <div class="card-text text-center bg-bleu0 p-3 h1 border w-50  rounded-circle">
            <i class="bi bi-alarm"></i> {{match.hour}} </div>
        </div>
        <div class="d-flex flex-row justify-content-between my-1">
          <div class="card-text  h5"><i class="bi bi-hr"></i> {{match.place}} </div>
          <div class="card-text h5"><i class="bi bi-person-circle"></i> {{match.by}} </div>
        </div>
        <div class="d-flex flex-row justify-content-center">
          <container-element [ngSwitch]="match.status">
            <some-element *ngSwitchCase="1">...</some-element>
            ...
            <some-element *ngSwitchDefault>...</some-element>
          </container-element>
          <div class="card-text  border border-danger  p-2"><i class="bi bi-alarm"></i>jhucihuh uhiuhduh uhu huhzuuhyzg {{match.status}}</div>
        </div>
      </div>
      

    </div>
    <div class="d-grid gap-2 m-1">
      <button class="btn btn-success" type="submit">
        حجز مكان
      </button>
    </div>


  </div>
</div>