<h2>ادخول و لخيظ</h2>

<div class="row">
  <div class="col-sm-8 col-sm-offset-2 ">
    <form (ngSubmit)="onSubmit(f)" #f="ngForm" *ngIf="!authStatus">
      <div class="form-group m-1 text-center">
        <label for="name" class="m-1 ">كود باش تدخلو</label>
        <input
          type="text"
          id="code"
          class="form-control"
          name="code"
          ngModel
          required
        />
        <input type="datetime-local" [value]="date"
            hidden/> {{date}}
      </div>
      <div class="d-grid gap-2 m-1">
      <button
        class="btn btn-success"
        type="submit"
        [disabled]="f.invalid"
      >
        تسجيل الدخول
      </button>
    </div>

    </form>
    <div class="d-grid gap-2 m-1">
      <button
        class="btn btn-danger"
        type="submit"
        *ngIf="authStatus"
        (click)="onSignOut()"
      >
        واخظ
      </button>
    </div>

  </div>
</div>

