
<div class="container justify-content-between m-4 border-bottom border-warning" *ngIf="authModel.isAuth">
  <div class="row m-1 justify-content-between">
    <div class="col-6 h6"> أهلا بك  {{ authModel.username }}   </div>
    <div class="col-6 h6  ml-2" style="text-align: left;"> {{ authModel.phone }}</div>
  </div>
</div><div class="container border-bottom border-warning justify-content-arround">
  <div class="row m-1 justify-content-between">

    <div class="col-md-3 h2 d-grid gap-2 m-1" routerLinkActive="active">
      <button class="btn btn-info"><a class="  text-white" routerLink="auth" *ngIf="!authModel.isAuth">تسجيل الدخول</a>
        <a class="  text-white" routerLink="auth" *ngIf="authModel.isAuth">تسجيل الخروج</a>
      </button>
    </div>
    <div class="col-md-3 h2 d-grid gap-2 m-1" routerLinkActive="active">
      <button class="btn btn-info"> <a class="  text-white" routerLink="matchs">المباريات القادمة</a>
      </button>
    </div>
    <div class="col-md-3 h2 d-grid gap-2 m-1" routerLinkActive="active">
      <button class="btn btn-info"> <a class="  text-white" routerLink="results">نتائج المستعدين</a>
      </button>
    </div>

  </div>
</div>


<div class="container justify-content-center">
  <div class="row ">
    <div class="col-xs-12 m-2 mt-5">
      <router-outlet></router-outlet>
    </div>
  </div>
</div>
