<h2 class="text-center">المباريات القادمة      </h2>
<div class="alert alert-danger" role="alert">
  عند حجزكم مكانا بإحدى المبارايات يتم إلزامكم بدفع 60 أوقية جديدة  إذا لعبت المباراة إلا في حالة تغيب بسبب القوة القاهرة  مثل الموت والحرائق والزلازل والفيضانات ... إلخ
</div>

<div class="container">
  <div class="row">
    <app-show-match *ngFor="let match of matchs;" [match]="match"
    ></app-show-match>

    <div class="col-md-4">
      <div class="card text-white bg-info mb-3" style="max-width: 18rem;">
        <div class="card-header text-center">الجمعة</div>
        <div class="card-body">
          <h5 class="card-title">  التاريخ  15-01-2022  </h5>
          <p class="card-text"> الساعة 8 مساء </p>
          <p class="card-text text-center"> لم تحجز بعد  نحن في اتنظار المستعدين </p>
        </div>
        <div class="d-grid gap-2 m-1">
          <button class="btn btn-success" type="submit">
            حجز مكان
          </button>
        </div>


      </div>
    </div>
    <div class="col-md-4">
      <div class="card text-white bg-info mb-3" style="max-width: 18rem;">
        <div class="card-header text-center">الجمعة</div>
        <div class="card-body">
          <h5 class="card-title">  التاريخ  15-01-2022  </h5>
          <p class="card-text"> الساعة 8 مساء </p>
          <p class="card-text text-center"> لم تحجز بعد  نحن في اتنظار المستعدين </p>
        </div>
        <div class="d-grid gap-2 m-1">
          <button class="btn btn-success" type="submit">
            حجز مكان
          </button>
        </div>


      </div>
    </div>
    <div class="col-md-4">
      <div class="card text-white bg-info mb-3" style="max-width: 18rem;">
        <div class="card-header">Header</div>
        <div class="card-body">
          <h5 class="card-title">Info card title</h5>
          <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's
            content.</p>
        </div>
      </div>
    </div>
    <div class="col-md-4">
      <div class="card text-white bg-info mb-3" style="max-width: 18rem;">
        <div class="card-header">Header</div>
        <div class="card-body">
          <h5 class="card-title">Info card title</h5>
          <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's
            content.</p>
        </div>
      </div>
    </div>
    <div class="col-md-4">
      <div class="card text-white bg-info mb-3" style="max-width: 18rem;">
        <div class="card-header">Header</div>
        <div class="card-body">
          <h5 class="card-title">Info card title</h5>
          <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's
            content.</p>
        </div>
      </div>
    </div>
    <div class="col-md-4">
      <div class="card text-white bg-info mb-3" style="max-width: 18rem;">
        <div class="card-header">Header</div>
        <div class="card-body">
          <h5 class="card-title">Info card title</h5>
          <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's
            content.</p>
        </div>
      </div>
    </div>
    <div class="col-md-4">
      <div class="card text-white bg-info mb-3" style="max-width: 18rem;">
        <div class="card-header">Header</div>
        <div class="card-body">
          <h5 class="card-title">Info card title</h5>
          <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's
            content.</p>
        </div>
      </div>
    </div>
    <div class="col-md-4">
      <div class="card text-white bg-info mb-3" style="max-width: 18rem;">
        <div class="card-header">Header</div>
        <div class="card-body">
          <h5 class="card-title">Info card title</h5>
          <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's
            content.</p>
        </div>
      </div>
    </div>
    <div class="col-md-4">
      <div class="card text-white bg-info mb-3" style="max-width: 18rem;">
        <div class="card-header">Header</div>
        <div class="card-body">
          <h5 class="card-title">Info card title</h5>
          <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's
            content.</p>
        </div>
      </div>
    </div>
    <div class="col-md-4">
      <div class="card text-white bg-info mb-3" style="max-width: 18rem;">
        <div class="card-header">Header</div>
        <div class="card-body">
          <h5 class="card-title">Info card title</h5>
          <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's
            content.</p>
        </div>
      </div>
    </div>
    <div class="col-md-4">
      <div class="card text-white bg-info mb-3" style="max-width: 18rem;">
        <div class="card-header">Header</div>
        <div class="card-body">
          <h5 class="card-title">Info card title</h5>
          <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's
            content.</p>
        </div>
      </div>
    </div>
  </div>
</div>
