/* You can add global styles to this file, and also import other style files */

@import url(https://fonts.googleapis.com/earlyaccess/amiri.css);
/* font-family: 'Amiri', serif; */

@import url(https://fonts.googleapis.com/earlyaccess/droidarabicnaskh.css);
/*font-family: 'Droid Arabic Naskh', serif;*/

@import url(https://fonts.googleapis.com/earlyaccess/lateef.css);
/* font-family: 'Lateef', serif; */

@import url(https://fonts.googleapis.com/earlyaccess/scheherazade.css);
/*font-family: 'Scheherazade', serif;*/
@import "~bootstrap-icons/font/bootstrap-icons.css";
@import url(https://fonts.googleapis.com/earlyaccess/thabit.css);
html{background-image: radial-gradient( circle farthest-corner at 22.4% 21.7%, rgba(4,189,228,1) 0%, rgba(2,83,185,1) 100.2% ) ;
height: 100%;
-font-family:'Amiri', serif;
}
body{
  background-color: transparent;
  color: white;
  font-family:'Amiri', serif;
}
a{
  font-family:'Amiri', serif;
  text-decoration: none;
}
:root{
  --bleu0:#563d7c;
  --blue1:#7FDBFF;
}
.bg-bleu0{
  background-color:var(--bleu0) ;
}
.bg-blue1{
  background-color:var(--blue1) ;
}
